$jl-red: #C80000;
$jl-green: #00C800;
$jl-yellow: #C8C800;
$transparent: rgba(0, 0, 0, 0);

$faint-lighten: 30%;
$faint-transparency: 0.92;
$less-faint-transparency: 0.88;

$jl-red-faint: transparentize(lighten($jl-green, $faint-lighten),
                                $faint-transparency);

$jl-green-faint: transparentize(lighten($jl-green, $faint-lighten),
                                $faint-transparency);

$jl-yellow-faint: transparentize(lighten($jl-yellow, $faint-lighten),
                                 $faint-transparency);

$jl-white-faint: transparentize(white, $faint-transparency);
$jl-white-less-faint: transparentize(white, $less-faint-transparency);
