@import 'animation';

div.content-wrapper {
  display: flex;
  justify-content: center;

  div.content {
    width: 960px;
    max-width: 95vw;
    margin-top: 1em;

    animation: content-fade-in $intro-anim-length ease-out;
    animation-delay: $intro-anim-delay + $intro-anim-length * 2.6;
    animation-fill-mode: backwards;
  }

  div.pageWrapper {
    &.fadeIn {
      animation: content-fade-in $flip-animation-length;
    }

    &.fadeOut {
      animation: content-fade-out $flip-animation-length;
    }
  }

  @keyframes content-fade-in {
    from { opacity: 0; transform: scale(1.03); }
    to { opacity: 1; transform: scale(1); }
  }

  @keyframes content-fade-out {
    from { opacity: 1; transform: scale(1); }
    to { opacity: 0; transform: scale(0.97); }
  }
}