@import './animation';
@import './colors';

div.contact-wrapper {
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input, textarea {
      font-size: 1em;
      color: white;
      background: rgba(255,255,255,0.1);
      border: none;
      width: 80%;
    }

    textarea {
      margin-top: 0.5em;
      min-height: 10em;
    }

    input {
      margin-top: 1em;
      border-bottom: 2px solid $jl-green;
    }

    .send-button {
      cursor: pointer;
      margin-top: 1em;
      display: flex;
      align-items: center;
      flex-direction: column;

      span {
        display: block;
      }

      img {
        max-height: 3em;

        &.active {
          display: none;
        }

        &.inactive {
          display: block;
        }
      }

      &:hover {
        span {
          color: $jl-green;
        }

        img {
          &.active {
            display: block;
          }

          &.inactive {
            display: none;
          }
        }
      }
    }
  }

  .contact-feedback {
    text-align: center;
    font-size: 1.2em;

    &.sending {
      background: $jl-yellow-faint;
      color: $jl-yellow;
      animation-name: blink;
      animation-duration: $feedback-animation-length;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    &.success {
      background: $jl-green-faint;
      color: $jl-green;
    }

    &.failed {
      background: $jl-red-faint;
      color: $jl-red;
    }
  }

  @keyframes blink {
    form {
      opacity: 1;
    }

    to {
      opacity: 0.3;
    }
  }
}