@import './colors';

div.gigs {
  .year {
    .months {
      display: flex;
      flex-wrap: wrap;
      align-items: top;
      justify-content: center;
    }

    h1 {
      margin-bottom: 0em;
    }
  }

  .month {
    position: relative;
    flex-shrink: 0;
    margin: 1em;

    h2 {
      text-align: center;
    }
  }

  .week {
  }

  .gig {
    h3.title {
      white-space: nowrap;
      margin-top: 0em;
      margin-bottom: 0em;
    }

    span.subtitle {
      white-space: nowrap;
      display: block;
      font-size: 0.9em;
      margin-bottom: 0.5em;
    }

    span.description {
      white-space: nowrap;
      display: block;
    }

    img.flyerThumb {
      margin: 0.5em;
    }
  }

  .day {
    cursor: default;

    display: inline-block;
    position: relative;
    width: 1.5em;

    text-align: center;
    margin: 0.1em;

    color: rgb(150, 150, 150);
  }

  .marker {
    position: absolute;
    width: 2.2em;
    height: 2.2em;
    top: -0.35em;
    left: -0.35em;
  }

  .day.marked {
    cursor: pointer;

    color: white;
  }
}

.previous-wrapper {
  h2 {
    font-size: 1.2em;
    text-align: center;
    color: $jl-red;
    font-family: Vegetable;
  }

  table {
    width: 100%;

    tr {
      td {

      }
    }
  }

  .clickable {
    cursor: pointer;
  }
}
