@import './animation';
@import './colors';

div.guestbook-wrapper {
  h2 {
    margin-bottom: 0.3em;
    margin-top: 1.7em;
  }

  .entries {
    .entry:nth-child(odd) {
      background: $jl-white-less-faint;
    }

    .entry:nth-child(even) {
      background: $jl-white-faint;
    }

    .entry {
      padding: 0.5em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;

      p {
        margin-top: 0;
        margin-bottom: 0;
      }

      .date {
        font-size: 0.7em;
        color: $jl-yellow;
      }

      .message {
        margin-top: 0em;
        margin-bottom: 0.3em;
        font-family: Serif;
      }
    }
  }

  .show-more {
    font-size: 1.1em;
    color: $jl-green;
    cursor: pointer;
    text-align: center;
  }

  .legal-notice {
    font-size: 0.7em;
  }

  .contact-feedback {
    text-align: center;
    font-size: 1.2em;

    &.sending {
      background: $jl-yellow-faint;
      color: $jl-yellow;
      animation-name: blink;
      animation-duration: $feedback-animation-length;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    &.success {
      background: $jl-green-faint;
      color: $jl-green;
    }

    &.failed {
      background: $jl-red-faint;
      color: $jl-red;
    }
  }

  .submit-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    input, textarea {
      font-size: 1em;
      color: white;
      background: rgba(255,255,255,0.1);
      border: none;
      width: 80%;
    }

    textarea {
      margin-top: 0.5em;
      min-height: 10em;
    }

    .send-button {
      cursor: pointer;
      margin-top: 1em;
      display: flex;
      align-items: center;
      flex-direction: column;

      span {
        display: block;
      }

      img {
        max-height: 3em;

        &.active {
          display: none;
        }

        &.inactive {
          display: block;
        }
      }

      &:hover {
        span {
          color: $jl-green;
        }

        img {
          &.active {
            display: block;
          }

          &.inactive {
            display: none;
          }
        }
      }
    }
  }
}
