@import 'colors';
@import 'animation';

div.header-container {
  position: relative;
  display: flex;
  flex-direction: column;

  div.background-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: url('../assets/header-background.jpeg');
    background-size: cover;
    background-position: center;

    animation: fade-in $intro-anim-length ease-in;
    animation-delay: $intro-anim-delay + $intro-anim-length * 0.3;
    animation-fill-mode: backwards;

    z-index: 0;
  }

  div.logo-wrapper {
    height: 7.8em;
    flex-grow: 1;
    margin-bottom: 0.8vw;

    display: flex;
    justify-content: center;
    align-items: center;

    img.logo {
      max-width: 80vw;
      max-height: 100%;
      margin: 0.2em;
    }

    animation: fade-in $intro-anim-length ease-in;
    animation-delay: $intro-anim-delay + $intro-anim-length * 0.8;
    animation-fill-mode: backwards;

    z-index: 1;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  svg.line {
    width: 100%;
    min-height: 0.2em;
    max-height: 0.2em;
    z-index: 2;

    line {
      stroke: $jl-green;
      animation: fill-line $intro-anim-length ease-out;
      animation-delay: $intro-anim-delay;
      animation-fill-mode: backwards;
    }

    @keyframes fill-line {
      from {
        stroke-dasharray: 0 100;
        stroke-dashoffset: -50;
      }

      to {
        stroke-dasharray: 100 0;
        stroke-dashoffset: -0;
      }
    }
  }
}