div.background-video-wrapper {
  position: absolute;

  top: 0%;
  left: 0%;

  width: 100%;
  height: 100%;

  z-index: -100;

  img.loader {
    transition: opacity 1s;

    position: absolute;
    top: 50%;
    left: 50%;

    margin-left: -32px;
    margin-top: -100px;

    animation-name: pulse;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }

  @keyframes pulse {
    from {
      filter: opacity(0.2) blur(1px);
    }

    to {}
  }

  div.backgroundImage {
    background-image: url("../assets/intro-snapshot.jpeg");
    background-size: cover;
    background-position: center;
  }

  video.background {
    position: absolute;
    object-fit: cover;

    width: 100%;
    height: 100%;

    transition: opacity 4s;
  }
}

div.intro-wrapper {
  width: 100vw;
  min-height: 100vh;

  position: fixed;
  top: 0vh;
  left: 0vw;

  &.closing {
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .overlayWrapper {
    cursor: pointer;

    position: absolute;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .spacer {
    flex-grow: 1;
  }

  @media only screen and (max-width: 720px) {
    .spacer {
      flex-grow: 0;
    }

    .overlayWrapper {
      justify-content: center;
    }
  }

  .logo {
    min-width: 40vw;
    max-width: 80vw;

    max-height: 30vh;

    margin-bottom: 3vh;
    margin-top: 3vh;

    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
  }

  .gigListWrapper {
    width: 100%;

    background-color: rgba(0,0,0,0.5);
    max-height: 50vh;

    overflow: hidden;

    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: backwards;

    .date {
      font-weight: bold;
    }
  }

  ul.gigList {
    cursor: default;
    color: rgb(200, 200, 200);
    padding: 0em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    li {
      font-size: 14pt;

      padding-top: 0.5em;
      padding-bottom: 0.5em;
      padding-left: 1em;
      padding-right: 1em;

      display: inline-block;

      text-align: center;

      span {
        display: block;
      }
    }
  }

  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      margin-top: 0em;
    }

    to {
      opacity: 0;
      margin-top: 1em;
    }
  }
}
