@import './colors';

@font-face {
  font-family: Stencil;
  src: url("../assets/StardosStencil-Regular.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("../assets/Poppins-Regular.ttf");
}

@font-face {
  font-family: Vegetable;
  src: url("../assets/Vegetable.ttf");
}

body {
  background: url("../assets/body-background.jpeg");
  color: white;
  margin: 0;

  font-family: Poppins, "Arial Black", Gadget, sans-serif;
  font-size: 1.75vh;
  cursor: default;
}

a {
  color: white;
}

p {
  text-align: justify;
}

h1 {
  color: $jl-yellow;
  text-align: center;
  font-family: Stencil;
}

h2 {
  font-size: 1em;
  color: $jl-yellow;
}