@import 'colors';
@import 'animation';

div.navbar {
  background-color: $jl-white-faint;

  animation: navbar-fade-in $intro-anim-length ease-in;
  animation-delay: $intro-anim-delay + $intro-anim-length * 1.8;
  animation-fill-mode: backwards;

  display: flex;
  justify-content: center;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 2vw;
    margin-right: 2vw;

    color: white;
    text-decoration: none;

    outline: none;

    img {
      max-height: 2.5em;
      max-width: 10vw;
      margin-top: 0.3em;
    }

    span {
      margin-top: 0.2em;
      margin-bottom: 0.5em;
      font-size: 1.2em;
    }

    @media only screen and (max-width: 960px) {
      span {
        display: none;
      }

      img {
        margin-bottom: 0.7em;
      }
    }

    img.active {
      display: none;
    }

    img.inactive {
      display: inline-block;
    }

    svg.arrow {
      position: relative;
      width: 1em;
      height: 0.75em;
      fill: transparent;
      z-index: 0;
      top: -1px;

      transition: fill $flip-animation-length;

      animation: fade-in $intro-anim-length;
      animation-delay: $intro-anim-delay + $intro-anim-length * 2.5;
      animation-fill-mode: backwards;
    }

    @keyframes fade-in {
      from { opacity: 0 }
      to { opacity: 1 }
    }
  }

  a.active {
    img.active {
      display: inline-block;
    }

    img.inactive {
      display: none;
    }

    svg.arrow {
      fill: $jl-green;
    }
  }

  a.active {
    color: $jl-green;
  }

  div.wrapper {
    position: relative;
    animation: drop-in $intro-anim-length ease-out;
    animation-fill-mode: backwards;
  }

  div.wrapper.anim-1 {
    animation-delay: $intro-anim-delay + $intro-anim-length * 1;
  }

  div.wrapper.anim-2 {
    animation-delay: $intro-anim-delay + $intro-anim-length * 1.35;
  }

  div.wrapper.anim-3 {
    animation-delay: $intro-anim-delay + $intro-anim-length * 1.7;
  }

  div.wrapper.anim-4 {
    animation-delay: $intro-anim-delay + $intro-anim-length * 2.05;
  }

  @keyframes drop-in {
    from {
      top: -1.5em;
      opacity: 0;
    }

    to {
      top: 0em;
      opacity: 1;
    }
  }
}

@keyframes navbar-fade-in {
  from { background-color: $transparent; }
  to { background-color: $jl-white-faint; }
}