$BORDER_COLOR: rgb(200,200,0);
$BACKGROUND_COLOR: black;
$TEXT_COLOR: white;

.tooltip {
  padding: 1em;

  cursor: default;

  position: absolute;

  background: $BACKGROUND_COLOR;
  color: $TEXT_COLOR;

  border: 0.2em solid $BORDER_COLOR;
  border-radius: 0.3em;

  animation-duration: 0.3s;
  animation-fill-mode: backwards;

  z-index: 100;
}

.tooltip.fadeIn {
  animation-name: tooltipFadeIn;
}

.tooltipcontent::after {
  content: " ";

  position: absolute;

  border-width: 0.5em;
  border-style: solid;
}

@keyframes tooltipFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.tooltip.top {
  top: 0%;
  left: 50%;
  transform: translate(-50%, -100%);
  margin-top: -0.5em;

  .tooltipcontent::after {
    top: 100%;
    left: 50%;
    margin-left: -0.5em;
    border-color: $BORDER_COLOR transparent transparent transparent;
  }
}

.tooltip.bottom {
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 0.5em;

  .tooltipcontent::after {
    bottom: 100%;
    left: 50%;
    margin-left: -0.5em;
    border-color: transparent transparent $BORDER_COLOR transparent;
  }
}

.tooltip.left {
  top: 50%;
  left: 0em;
  transform: translate(-100%, -50%);
  margin-left: -0.5em;

  .tooltipcontent::after {
    top: 50%;
    left: 100%;
    margin-top: -0.5em;
    border-color: transparent transparent transparent $BORDER_COLOR;
  }
}

.tooltip.right {
  top: 50%;
  left: 100%;
  transform: translate(0%, -50%);
  margin-left: 0.5em;

  .tooltipcontent::after {
    top: 50%;
    right: 100%;
    margin-top: -0.5em;
    border-color: transparent $BORDER_COLOR transparent transparent;
  }
}